<%= link_to cohort_path(cohort), class: "banner" do %>
  <div class="banner-card tickets">
    <p class="banner-date"><%= cohort.descriptive_date %></p>
    <p class="banner-cta-text"><%= cohort.name %></p>
  </div>
<% end %>
