<tr class="table-link js-cohortLink" data-link="<%= cohort_path(cohort) %>">
  <td><%= cohort.name %></td>
  <td><%= cohort.start_at.strftime("%B %d, %Y") %></td>
  <td><%= cohort.end_at.strftime("%B %d, %Y") %></td>
</tr>
