<%= link_to cohort_path(cohort), class: "banner" do %>
  <div class="banner-card tickets bottom-buffer">
    <p class="banner-date"><%= cohort.descriptive_date %></p>
    <p class="banner-date"><%= "#{cohort.city}, #{cohort.state}, #{cohort.country}"%></p>
    <p class="banner-cta-text"><%= cohort.name %></p>
  </div>
<% end %>
