<div class="form-group">
  <%= search_field_tag(:cohort_name, "", :onkeyup => 'sendSearch()', class: 'form-control') %>
</div>

<!-- TODO: Center these tabs -->
<div class="row bottom-buffer">
  <ul class="nav nav-tabs">
    <li role="presentation" onclick="changeTab()" data-timeframe="past"><a href="#">Past Events</a></li>
    <li role="presentation" class="active" onclick="changeTab()" data-timeframe="current"><a href="#">Upcoming Events</a></li>
  </ul>
</div>

<div id="cohorts_search_results">
  <% cohorts.each do |cohort| %>
      <%= render 'cohort_stub_banner', :cohort => cohort %>
  <% end %>
</div>

<script>
  function sendSearch() {
    const searchTerm = document.querySelector("#cohort_name").value;
    const tabActive = document.querySelector(".active").getAttribute("data-timeframe");
    Rails.ajax({
      url: "<%= search_path %>",
      type: "POST",
      data: `search_term=${searchTerm}&timeframe=${tabActive}`,
      success: function (data) {
        document.querySelector("#cohorts_search_results").innerHTML = data.html;
      }
    });
  }

  function changeTab() {
    document.querySelector(".active").removeAttribute("class");
    event.currentTarget.setAttribute("class", "active");
    sendSearch();
  }
</script>
