<h2 class="mt-0">Find a tournament</h2>
<%= label_tag :search, "Find an event to play in or view past results", :class => "small" %>
<%= render 'search_cohort_controls', cohorts: @cohorts, search_path: cohort_search_cohorts_path %>
