<div class="form-group">
  <%= label_tag :search, "Search for an event" %>
  <%= search_field_tag(:cohort_name, "", :onkeyup => 'sendSearch()', class: 'form-control') %>
</div>

<div id="cohorts_search_results">
<% @cohorts.each do |cohort| %>
  <%= render 'cohort_stub_banner', :cohort => cohort %>
<% end %>
</div>

<script>
  function sendSearch() {
    const searchTerm = document.querySelector("#cohort_name").value;
    if (searchTerm.length > 3 || searchTerm.length === 0) {
      Rails.ajax({
        url: "<%= search_cohorts_path %>",
        type: "POST",
        data: `search_term=${searchTerm}`,
        success: function (data) {
          document.querySelector("#cohorts_search_results").innerHTML = data.html;
        }
      });
    }
  }


</script>
