<h2 class="mt-0">My Tournaments</h2>
<%= label_tag :search, "Search your upcoming or past tournaments", :class => "small" %>
<%= render 'search_cohort_controls', cohorts: @cohorts, search_path: my_search_cohorts_path %>
