<div class="row">
  <div class="col-md-12 ticket">
    <div class="ticket-card">
      <div class="row">
        <div class="col-sm-5">
          <%= pairing[0].user.name %>
        </div>
        <div class="col-sm-2">
          vs.
        </div>
        <div class="col-sm-5">
          <%= pairing[1].user.name %>
        </div>
      </div>
    </div>
  </div>
</div>
