<div class="row bottom-buffer">
  <div class="col-md-12">
  <ul class="nav nav-tabs">
    <% @system.rounds.times do |round| %>
      <li <%= "class=active" if round == 0 %> role="presentation" onclick="changeTab()" data-round="<%= round %>"><a href="#">Round <%= round + 1 %></a></li>
    <% end %>
  </ul>
  <% @pairings.each do |pairing| %>
    <%= render partial: "pairing", locals: {pairing: pairing} %>
  <% end %>
  </div>
</div>

<script>
  function changeTab() {
    document.querySelector(".active").removeAttribute("class");
    event.currentTarget.setAttribute("class", "search-nav active");
  }
</script>
