<h2><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Armoured-Containers" target="_blank">Armoured Containers</a></h2>
<ul>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Obstacles" target="_blank">Obstacles</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Light-Cover" target="_blank">Light Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Exposed-Position" target="_blank">Exposed Position</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Scalable" target="_blank">Scalable</a></li>
</ul>