<h2><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Barricades-and-Fuel-Pipes" target="_blank">Barricades</a></h2>
<ul>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Obstacles" target="_blank">Obstacles</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Heavy-Cover" target="_blank">Heavy Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Light-Cover" target="_blank">Light Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Difficult-Ground" target="_blank">Difficult Ground</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Defensible" target="_blank">Defensible</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Unstable-Position" target="_blank">Unstable Position</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Defence-Line" target="_blank">Defence Line</a></li>
</ul>