<h2><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Craters" target="_blank">Craters</a></h2>
<ul>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Area-Terrain" target="_blank">Area Terrain</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Light-Cover" target="_blank">Light Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Difficult-Ground" target="_blank">Difficult Ground</a></li>
</ul>