<h2><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Ruins" target="_blank">Ruins</a></h2>
<ul>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Area-Terrain" target="_blank">Area Terrain</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Obscuring" target="_blank">Obscuring</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Light-Cover" target="_blank">Light Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Defensible" target="_blank">Defensible</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Breachable" target="_blank">Breachable</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Scalable" target="_blank">Scalable</a></li>
</ul>