<h2><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Woods" target="_blank">Woods</a></h2>
<ul>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Area-Terrain" target="_blank">Area Terrain</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Dense-Cover" target="_blank">Dense Cover</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Difficult-Ground" target="_blank">Difficult Ground</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Defensible" target="_blank">Defensible</a></li>
  <li><a href="https://wahapedia.ru/wh40k9ed/the-rules/core-rules/#Breachable" target="_blank">Breachable</a></li>
</ul>