<div class="row">
  <div class="col-md-12 ticket">
    <div class="roster-card bg-success">
      <div class="row">
        <div class="col-md-12">
          <%= registrant.user.name %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="<%= registrant.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List for <%= registrant.user.name %></h4>
      </div>
      <div class="modal-body">
        <pre><%= sanitize registrant.list %></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
