<% provide(:title, 'Successful Transaction') %>
<% provide(:meta_description, t('seo.success')) %>

<div class="row">
  <div class="col-md-12">
    <h3>You're registered!</h3>
    <p>Please check your email inbox for receipt of payment. You'll find a copy of the player pack attached to the email as well.
    If you lose your player pack, you can always come back here and download it from the event's ticket page.</p>
  </div>
</div>
