<% provide(:title, 'Welcome') %>
<% provide(:meta_description, t('seo.home')) %>

<% if user_signed_in? %>
  <%= link_to my_events_cohorts_path, class: "banner" do %>
    <div class="banner-card tickets"><p>my events</p>    </div>
  <% end %>
<% end %>
<div class="banner-spacer"></div>
<%= link_to find_cohorts_path, class: "banner" do %>
  <div class="banner-card info"><p>find an event</p></div>
<% end %>

<!--This is a dirty hack to get the vh to expand when scrolling down-->
<script>
    $(document).ready(function() {
        setHeight();
    });

    $( window ).on( "orientationchange", function( event ) {
        setHeight();
    });

    function setHeight () {
        setTimeout(function () {
            $('.container').css({height: window.innerHeight - 50});
        }, 250);
    }
</script>
